/*HEX #1c496d <-*/
@font-face {
  font-family: 'CROSSOVER';
  src: url('../font/CROSSOVER.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PlutoSansW04-Bold';
  src: url('../font/PlutoSansW04Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html, body {
  background: rgba(28, 73, 109, 1);
  width: 100%;
  height: 100vh;
  margin: 0;
}

article {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

main {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

header, main, footer {
  flex-shrink: 0;
}

.footer {
  display: flex;
  justify-content: center;
  height: 100px;
}

.social {
  margin: 4px;
}

.social img {
  width: 60px;
  height: 60px;
}

.logo-mobile {
  display: none;
}

@media only screen and (max-width: 420px) {
  .logo {
    display: none;
  }
  .logo-mobile {
    display: block;
  }
}